section {
    display: flex;
    font-family: Arial, sans-serif;
    justify-content:center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#theme-toggle{
    display: flex;
    width: 100px;

}
.task-manager {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#task-form {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}



#task-form form {
    flex-grow: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

#task-form button {
    padding: 10px;
    cursor: pointer;
}

.task-list { 
    list-style-type: none;
    padding: 0;
}

.task-item {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

span.actions{
    text-align: center;
}


.actions button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 5px;
    font-size: 16px;
}

.actions .delete {
    color: red;
}

.actions .edit {
    color: orange;
}
